html,body{
     /*background-color: #f2f2f5;*/
    /* background-image: url('https://img.zimei.fun/202207101321009.jpg');
    background-position-x: initial;
    background-position-y: initial;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    background-size: 100% 100%; */
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#app{
    height: 100%;
}

.el-alert {
    margin-bottom: 20px;
}

/*表格颜色*/
/*谁赢谁输*/
.el-table .warning-row {
    --el-table-tr-bg-color: var(--el-color-warning-light-9);
}

.el-table .success-row {
    --el-table-tr-bg-color: var(--el-color-success-light-9);
}

.el-table .primary-row {
    --el-table-tr-bg-color: var(--el-color-primary-light-9);
}

.el-table .danger-row {
    --el-table-tr-bg-color: var(--el-color-danger-light-9);
}